/*código base para todas as páginas*/
body {
  min-height: 100vh;
  margin: 0;
  background-color:#3f3f3f;
  transition: background 0.6s ease-in-out;
}

.container-gabriel,
.container-hartur,
.container-julia,
.container-lucas {
  background-color: rgb(107, 107, 107);
  margin: 20px;
  border-radius: 10px;
  padding: 100px;
  transition: background-color 0.5s ease, color 0.5s ease;
  border: 5px solid white;
  transition: 0.5s ease-in-out;

  width: 100%;
  max-width:500px;
}

/* Muda a cor do fundo GABRIEL*/
body:has(.container-gabriel:hover){
  background: #303030;
}

body:has(.container-gabriel:hover) .container-gabriel{
  background-color: #1d1d1d;
  color: #f1f5f9;
}

/* Muda a cor do fundo HARTUR*/
body:has(.container-hartur:hover){
  background: #14532d;
}

body:has(.container-hartur:hover) .container-hartur{
  background-color: #166534;
  color: #dcfce7;
}

/* Muda a cor do fundo JULIA*/
body:has(.container-julia:hover){
  background: #1d4ed8;
}

body:has(.container-julia:hover) .container-julia{
  background-color: #1e40af;
  color: #e0e7ff;
}

/* Muda a cor do fundo LUCAS*/
body:has(.container-lucas:hover){
  background: #be2323;
}

body:has(.container-lucas:hover) .container-lucas{
  background-color: #7f1d1d;
  color: #fee2e2;
}

/*Imagem*/
img{
  margin-left: 55px;
  width:170px;
  height:170px;
  border-radius: 30%;
  border:double rgb(255, 255, 255) 5px;
}

.botao {
  font-family: monospace;
  color: white;
  display: inline-block;
  background-color: hsl(0, 3%, 54%);              
  padding: 15px 25px;       
  border:groove rgb(255, 255, 255) 5px;             
  border-radius: 50px;       
  cursor: pointer;          
  font-size: 16px;
  transition: background-color 0.3s; 
  margin-left: 165px;
}

.botao:hover {
  background-color: #313131;
  color:white;
}

h1{
  font-size: 36px;
  text-align: center;
  font-family: monospace;
  color: white;
}

h2{
  text-align: center;
  color: rgb(255, 255, 255);
}

.grupo{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  gap: 40px;
  margin-top: 20px;
  justify-items: center;
}

li{
  color: white;
  font-family: monospace;
  font-size: 20px;
}

h3{
  font-size: 30px;
  text-align: center;
  color: #ffffff;
}

.containerNomes{
  justify-items: center;
  background-color: rgb(107, 107, 107);
  margin: 20px;
  margin-left: 35%;
  border-radius: 10px;
  padding: 20px;
  transition: background-color 0.5s ease, color 0.5s ease;
  border: 2px solid white;
  transition: 0.5s ease-in-out;

  width: 50%;
  max-width:500px;  

}